.table tbody tr td {
	padding: 6px 13px;
	font-size: 13px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-align: center;
	vertical-align: middle;
}

.table tbody tr td code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 18px;
	background-color: rgba(27,31,35,0.05);
	border-radius: 3px;

}

.table {
	table-layout: fixed
}

